code{
    white-space: pre-wrap;
    font-family: "fira mono",monospace;
}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}
html {
    margin: auto;
    max-width: 45rem;
    font-family: "source sans pro",sans-serif;
}

/*Make sure images obey the site-wide width*/
.img-container {
    max-width: 45rem;
}

.img-container img {
    width: 100%;
    height: auto;
}

p.caption {
    text-align: center;
}

#site-nav {
    display: flex;
    justify-content: center;
}

.nav-spacer {
    width: 3rem;
    text-align: center;
}
